tensorflow
pydantic~=2.9.2
sqlalchemy~=2.0.35
python-jose
opencv-python~=4.10.0.84
numpy~=1.26.4
python-multipart
bcrypt
fastapi[standard]~=0.115.0
face-recognition
Pillow~=10.4.0
mtcnn~=0.1.1
passlib~=1.7.4
uvicorn
mysql-connector-python~=9.0.0
mysqlclient
yagmail~=0.15.293
python-dotenv~=1.0.1